/*

██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝
██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║
 ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

Waybar Config File by Arfan Zubi

*/

* {
    font-family: 'JetBrainsMono NF', sans-serif;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.9);
    color: #ffffff;
}

#window, #custom-clock, #system, #keyboard, #hardware {
    margin: 5px;
    padding: 0 10px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 15px;
}

#window {
    font-weight: bold;
}

#custom-clock {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
}

#workspaces {
    margin-right: 10px;
    font-weight: bold;
}

#workspaces button {
    border: none;
    border-radius: 0;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s ease-in-out;
}

#workspaces button.focused {
    background-color: #ffffff;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #ffffff;
    border: none;
    color: #000000;
}

#keyboard-state {
    margin-right: 7px;
}

#custom-wlogout {
    margin-left: 7px;
    padding: 0 15px;
    background-color: #ffffff;
    color: #000000;
}
